//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.text - текст кнопки.
  options.type - задает тип кнопки. по умолчанию "button".
  options.tabindex - задает tabindex
  options.href - Ссылка кнопки. Если есть эта опция, то тег будет "а", иначе "button".

mixin button(options = {})
  -
    const {
      classes = '',
      id = false,
      href = false,
      tabindex = false,
      type = false,
      text = 'Button',
    } = options;

  if href
    a.button.js-button(
      class = classes,
      id = id ? id : false
      href = href,
      tabindex = tabindex ? tabindex : false
    )
      span.button__text #{text}
  else
    button.button.js-button(
      class = classes,
      id = id ? id : false
      type = type ? type : 'button',
      tabindex = tabindex ? tabindex : false
    )
      span.button__text #{text}