include ../../components/tariff-card/tariff-card
include ../../components/button/button

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.text - текст кнопки.
  options.type - задает тип кнопки. по умолчанию "button".
  options.tabindex - задает tabindex
  options.href - Ссылка кнопки. Если есть эта опция, то тег будет "а", иначе "button".

mixin choice-tariff(options = {})
  -
    const {
      classes = '',
      id = false,
    } = options;

  form.choice-tariff.js-choice-tariff(
    class = classes,
    id = id ? id : false,
    action = '',
    method = 'post',
  )
    div.choice-tariff__container
      div.choice-tariff__card-wrapper
        +tariff-card({
          discount: '-15%',
          tariffName: 'Monthly',
          price: '$ 5.99',
          oldPrice: '$ 7.99',
          text: 'Billed every month',
          inputValue: 1,
        })
      div.choice-tariff__card-wrapper
        +tariff-card({
          discount: '-25%',
          tariffName: 'Annual',
          price: '$ 4.59',
          oldPrice: '$ 7.99',
          text: '$79 billed once a year',
          inputValue: 2,
          checked: true,
        })
    div.choice-tariff__btn-wrapper
      +button({
        classes: 'button_with-gradient button_wide',
        text: 'continue',
        type: 'submit'
      })
    p.choice-tariff__description.js-choice-tariff__description No commitments. Cancel anytime