@import '@/shared/theme/variables.scss';
@import '@/shared/functions.scss';

.choice-tariff {
  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -9px;
    padding-bottom: 6px;
  }

  &__btn-wrapper {
    max-width: 337px;
    margin: 0 auto;
  }

  &__card-wrapper {
    padding-left: 10px;
    padding-right: 9px;
    flex: 1 1 50%;
    padding-bottom: 24px;

    @media(max-width: $sm) {
      flex: 1 1 100%;
    }
  }

  &__description {
    font-size: calc-rem(12);
    line-height: 1.5;
    text-align: center;
    margin: 13px 0 0;
    color: $white50;
  }
}