include ../../components/header/header
include ../../components/footer/footer
include ../../components/tariff-card/tariff-card
include ../../components/button/button
-
  const {
    title = '',
    description = '',
    keywords = '',
  } = htmlWebpackPlugin.options.getData();

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='mask-icon', color='#bc9cff', href=require('@/shared/images/logo-mini.png').default)
    title #{title}
    meta(name='description', content = description)
    meta(name='keywords', content = keywords)
  
  body.page
    div.page__content-wrapper
      +header()

      main.page__main
        div.page__tariff-img-wrapper
          img.page__tariff-img(
            src = require('@/shared/images/logo-tariff.png').default,
            alt = 'welltory pro'
          )

        h1.page__heading.page__heading_first Take better care of yourself every day

        form(action="", method="post").page__choice-tariff
          div.page__choice-tariff-container
            div.page__tariff-card-wrapper
              +tariff-card({
                discount: '-15%',
                tariffName: 'Monthly',
                price: '$ 5.99',
                oldPrice: '$ 7.99',
                text: 'Billed every month',
              })
            div.page__tariff-card-wrapper
              +tariff-card({
                discount: '-25%',
                tariffName: 'Annual',
                price: '$ 4.59',
                oldPrice: '$ 7.99',
                text: '$79 billed once a year',
                checked: true,
              })
          div.page__tariff-btn-wrapper
            +button({
              classes: 'button_with-gradient button_wide',
              text: 'continue',
              type: 'submit'
            })
          
          
      +button({
        text: 'go with the free version',
      })
      
      +footer()