include ../../components/header/header
include ../../components/footer/footer
include ../../components/button/button
include ../../components/choice-tariff/choice-tariff
-
  const {
    title = '',
    description = '',
    keywords = '',
  } = htmlWebpackPlugin.options.getData();

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='mask-icon', color='#bc9cff', href=require('@/shared/images/logo-mini.png').default)
    title #{title}
    meta(name='description', content = description)
    meta(name='keywords', content = keywords)
  
  body.page
    div.page__content-wrapper
      +header()

      main.page__main
        div.page__tariff-img-wrapper
          img.page__tariff-img(
            src = require('@/shared/images/logo-tariff.png').default,
            alt = 'welltory pro'
          )

        div.page__first-heading-wrapper
          h1.page__heading.page__heading_first Take better care of yourself every day

        div.page__choice-tariff-wrapper
          +choice-tariff()
          
          
      +button({
        text: 'go with the free version',
      })
      
      +footer()