@import '@/shared/theme/variables.scss';
@import '@/shared/functions.scss';

.page {
  min-height: 100vh;

  &__content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__main {
    flex-grow: 1;

    @media(max-width: $sm) {
      padding-top: 27px;
    }
  }

  &__tariff-img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    @media(max-width: $sm) {
      display: none;
    }
  }

  &__tariff-img {
    max-width: 100%;
    flex: none;
  }

  &__first-heading-wrapper {
    padding-left: 19px;
    padding-right: 19px;
    margin-bottom: 50px;

    @media(max-width: $sm) {
      margin-bottom: 40px;
    }
  }

  &__second-heading-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
  }

  &__third-heading-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 26px;
  }

  &__fourth-heading-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 34px;
  }

  &__heading{
    margin-top: 0;
    margin-bottom: 0;

    &_first {
      text-align: center;
      font-size: calc-rem(37);
      font-weight: 400;
      line-height: 1.08;
      letter-spacing: .02em;

      @media(max-width: $sm) {
        font-size: calc-rem(27);
        line-height: 1.185;
      }
    }

    &_second {
      text-align: center;
      font-size: calc-rem(22);
      font-weight: 400;
      line-height: 1.136;
      letter-spacing: .02em;
    }

    &_third {
      text-align: center;
      font-size: calc-rem(22);
      font-weight: 400;
      line-height: 1.136;
      letter-spacing: .02em;
      border-image-slice: 1;
      background: $blue-orange;
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      mix-blend-mode: normal;
      text-shadow: 0 13.2985px 26.5969px rgba(255,0,63,.2);
    }
  }

  &__choice-tariff-wrapper {
    width: 100%;
    max-width: 731px;
    margin: 0 auto;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 70px;
  }

  &__choice-tariff-btns {
    display: flex;
    flex-wrap: wrap;
    max-width: 712px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 6px;
  }

  &__tariff-btn-wrapper {
    flex: 1 1 50%;
    padding-left: 11px;
    padding-right: 10px;
    padding-bottom: 27px;

    @media(max-width: $sm) {
      flex: 1 1 100%;
    }
  }

  &__list-heading-wrapper,
  &__list-wrapper {
    max-width: 729px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 17px;
  }

  &__list-wrapper {

    &_first {
      padding-bottom: 46px;
    }

    &_second {
      padding-bottom: 59px;
    }
  }

  &__list-heading {
    display: flex;
    list-style: none;
    margin-bottom: 45px;

    @media(max-width: $sm) {
      margin-bottom: 35px;
    }
  }
  
  &__list-heading-text,
  &__name-tariff {
    display: inline-block;
    font-size: calc-rem(22);
    line-height: 1.136;
    letter-spacing: .02em;
    margin-right: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid $white70;

    @media(max-width: $sm) {
      margin-right: 8px;
    }
  }

  &__list-heading-text {
    flex-grow: 1;
    font-weight: 400;
  }

  &__name-tariff {
    text-align: center;
    flex: 0 1 123px;
    min-width: 123px;
    margin-left: 10px;
    margin-right: 10px;

    @media(max-width: $sm) {
      flex: 0 1 56px;
      min-width: 56px;
      margin-left: 8px;
      margin-right: 8px;
    }

    &_type_pro {
      position: relative;
      border-image-slice: 1;
      background: $blue-orange;
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      mix-blend-mode: normal;
      margin-right: 0;

      &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 4px;
        background: $blue-orange;
      }
    }

    &_desktop {
      @media(max-width: $sm) {
        display: none;
      }
    }
  }
}