@import '@/shared/theme/variables.scss';

.header {
  width: 100%;
  max-width: 1349px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 8px 14px;

  @media (max-width: $md) {
    padding: 9px 8px 15px;
  }

  &__logo {
    display: inline-flex;

    @media (max-width: $md) {
      max-width: 121px;
    }

    &-img {
      flex: none;
      max-width: 100%;
    }
  }
}
