//-
  options.classes - Классы блока.
  options.id - ИД блока.

mixin header(options = {})
  -
    const {
      classes = defaultClasses,
      id = defaultId,
    } = options;

  header.header(
    class = classes,
    id = id ? id : false
  )
    a.header__logo(href = '/') 
      img.header__logo-img(
        src = require('@/shared/images/logo.svg').default,
      )