@import 'variables.scss';
@import '@/shared/theme/fonts/steinbeck-reg.css';

* {
  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  font-family: 'Steinbeck', sans-serif;
  font-size: #{$font-size-base + 'px'};
  line-height: 1.33;
  min-height: 100vh;
  color: $white;
}

body {
  background-color: $dark;
  background-image: url(../images/background-page.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
