$xxs: 320px;
$xs:  575px;
$sm:  767px;
$md:  991px;
$lg:  1199px;
$xl:  1440px;

$dark:  #151A22;
$white: #fff;
$purple:#bc9cff;
$green: #6fcf97;
$black: #000;

$gradient-gray: linear-gradient(180deg, #919191 0%, #3d4975 100%);

$font-size-base: 14;

$gutter: 40px;
$max-width-container: 1180px;
$padding-container: 10px;
