$xxs: 320px;
$xs:  575px;
$sm:  767px;
$md:  991px;
$lg:  1199px;
$xl:  1440px;

$white: #fff;
$white20: rgba(#fff, 0.2);
$white50: rgba(#fff, 0.5);
$white70: rgba(#fff, 0.7);
$purple: #89a3ff;
$cardio: #efdd36;
$breakfast: #52b692;
$gray6: #c0c3cd;
$darkgray: rgba(#333b4a, 0.2);
$darkgray2: #1b212a;
$dark:  #151a22;
$black: #000;

$blue-orange: linear-gradient(91.33deg, #{$purple} 0%, #ff6060 54.17%, #ffbf00 100%);

$font-size-base: 15;
