$xxs: 320px;
$xs:  575px;
$sm:  767px;
$md:  991px;
$lg:  1199px;
$xl:  1440px;

$white: #fff;
$white20: rgba(#fff, .2);
$white50: rgba(#fff, .5);
$white70: rgba(#fff, .7);
$purple: #89A3FF;
$cardio: #EFDD36;
$breakfast: #52B692;
$gray6: #C0C3CD;
$darkgray: rgba(#333B4A, .2);
$darkgray2: #1B212A;
$dark:  #151A22;
$black: #000;

$blue-orange: linear-gradient(91.33deg, #{$purple} 0%, #FF6060 54.17%, #FFBF00 100%);

$font-size-base: 15;

$gutter: 40px;
$max-width-container: 1180px;
$padding-container: 10px;
